{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen p-6">
    
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
        <h1 class="font-bold text-xl text-red-500 underline px-2 py-2">Philia Shop</h1>
        <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Reset Password</h2>
        
        {% if invalid %}
            <div class="bg-red-100 text-red-800 border border-red-300 rounded p-4 mb-6">
                <p class="text-sm">The reset password link is invalid, possibly because it has already been used. Please request a new password reset.</p>
            </div>
        {% else %}
            <form action="" method="post" class="space-y-4">
                {% csrf_token %}
                <div class="space-y-4">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="bg-red-400 text-white rounded py-2 px-4 hover:bg-red-500 transition duration-200 w-full flex items-center justify-center">
                    <i class="fa-solid fa-arrow-right-to-bracket mr-2"></i> Reset Password
                </button>
            </form>
        {% endif %}
    </div>
</body>
</html>

