{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen p-6">
    <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-lg mt-10 mb-10">
        <h2 class="text-green-800 text-2xl font-bold text-center mb-4 underline">Philia Shop: Password Reset</h2>
        <div class="text-center mb-4">
            <h3 class="text-green-700 text-xl font-semibold mb-4">Check your email</h3>
            <p class="text-gray-600 text-lg mb-4">
                If an account with the email you entered exists, you will receive an email with instructions on how to reset your password.
            </p>
        </div>
        <div class="text-center">
            <a href="{% url 'login' %}" class="text-green-600 hover:underline text-lg font-medium">
                Go back to Login
            </a>
        </div>
    </div>
</body>
</html>
