{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% tailwind_css %}
</head>
<body class="bg-gray-100">
    <header class="bg-gray-200 text-red-400 px-4 py-4 w-full">
        <nav class="flex items-center justify-between flex-wrap">
            <div class="brand font-semibold text-2xl">
                <a href="{% url 'index' %}">Philia <span class="text-white bg-red-500 rounded p-2">shop</span></a>
            </div>
            <button id="menu-button" class="lg:hidden px-2 py-1 text-red-400 focus:outline-none">
                <i class="fas fa-bars"></i>
            </button>
            <ul id="menu" class="hidden lg:flex space-x-3 font-thin text-xl">
                <li><a class="hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2 rounded" href="{% url 'index' %}"><i class="fa-solid fa-house"></i></a></li>
                <li><a class="hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2 bg-red-400 text-white rounded" href="{% url 'catalogue' %}">Catalogue</a></li>
                {% if user.is_authenticated %}
                <li><a class="hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2" href="{% url 'logout' %}"><i class="fa-regular fa-circle-user"></i> {{ user.username }}</a></li>
                {% else %}
                <li><a class="hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2" href="{% url 'login' %}">Users</a></li>
                {% endif %}
            </ul>
            <div class="hidden lg:flex">
                <input class="rounded border-gray-300 px-2 py-1" type="text" placeholder="Rechercher">
            </div>
        </nav>
        <ul id="mobile-menu" class="lg:hidden hidden mt-2 space-y-2">
            <li><a class="block hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2 rounded" href="{% url 'index' %}"><i class="fa-solid fa-house"></i></a></li>
            <li><a class="block hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2 bg-red-400 text-white rounded" href="{% url 'catalogue' %}">Catalogue</a></li>
            {% if user.is_authenticated %}
            <li><a class="block hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2" href="{% url 'logout' %}"><i class="fa-regular fa-circle-user"></i> {{ user.username }}</a></li>
            {% else %}
            <li><a class="block hover:bg-red-500 hover:py-2 hover:rounded hover:text-white px-2 py-2" href="{% url 'login' %}">Users</a></li>
            {% endif %}
        </ul>
    </header>

    <main class="mt-4 px-4">
        <h1 class="font-bold text-2xl">Catalogue de nos produits</h1>

        <!-- Smartphones -->
        <section class="mt-4">
            <h2 class="font-semibold text-xl border-b-2 pb-2">Smartphones</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4">
                {% for produit in produit_smartphone %}
                <div class="border rounded-lg shadow-lg bg-white overflow-hidden">
                    {% if produit.image_produit %}
                    <img class="w-full h-48 sm:h-56 md:h-64 lg:h-72 object-fill" src="{{ produit.image_produit.url }}" alt="Image de {{ produit.designation }}">
                    {% endif %}
                    <div class="p-4">
                        <h3 class="text-sm font-bold mb-2">{{ produit.designation }}</h3>
                        <p class="text-lg font-semibold text-gray-800">{{ produit.prix }} $</p>
                        <p class="text-lg font-semibold text-gray-800">{{ produit.qte }} En stock</p>
                        {% if produit.disponible %}
                        <p class="text-green-600 font-semibold">Disponible</p>
                        {% else %}
                        <p class="text-red-600 font-semibold">Indisponible</p>
                        {% endif %}
                        <div class="mt-4">
                            {% if produit.disponible %}
                            <a class="inline-block bg-red-500 text-white text-center py-2 px-4 rounded hover:bg-red-600 transition duration-200" href="{% url 'detail' produit.slug %}"><i class="fa-solid fa-arrow-right"></i> Voir plus</a>
                            {% else %}
                            <button disabled class="inline-block bg-red-500 text-white text-center py-2 px-4 rounded cursor-not-allowed opacity-50">Voir plus</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Ordinateurs -->
        <section class="mt-4">
            <h2 class="font-semibold text-xl border-b-2 pb-2">Ordinateurs</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4">
                {% for produit in produit_ordinateur %}
                <div class="border rounded-lg shadow-lg bg-white overflow-hidden">
                    {% if produit.image_produit %}
                    <img class="w-full h-48 sm:h-56 md:h-64 lg:h-72 object-cover" src="{{ produit.image_produit.url }}" alt="Image de {{ produit.designation }}">
                    {% endif %}
                    <div class="p-4">
                        <h3 class="text-sm font-bold mb-2">{{ produit.designation }}</h3>
                        <p class="text-lg font-semibold text-gray-800">{{ produit.prix }} $</p>
                        <p class="text-lg font-semibold text-gray-800">{{ produit.qte }} En stock</p>
                        {% if produit.disponible %}
                        <p class="text-green-600 font-semibold">Disponible</p>
                        {% else %}
                        <p class="text-red-600 font-semibold">Indisponible</p>
                        {% endif %}
                        <div class="mt-4">
                            {% if produit.disponible %}
                            <a class="inline-block bg-red-500 text-white text-center py-2 px-4 rounded hover:bg-red-600 transition duration-200" href="{% url 'detail' produit.slug %}"><i class="fa-solid fa-arrow-right"></i> Voir plus</a>
                            {% else %}
                            <button disabled class="inline-block bg-red-500 text-white text-center py-2 px-4 rounded cursor-not-allowed opacity-50">Voir plus</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Accessoires -->
        <section class="mt-4">
            <h2 class="font-semibold text-xl border-b-2 pb-2">Accessoires</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mt-4">
                {% for produit in produit_accessoires %}
                <div class="border rounded-lg shadow-lg bg-white overflow-hidden">
                    {% if produit.image_produit %}
                    <img class="w-full h-48 sm:h-56 md:h-64 lg:h-72 object-cover" src="{{ produit.image_produit.url }}" alt="Image de {{ produit.designation }}">
                    {% endif %}
                    <div class="p-4">
                        <h3 class="text-sm font-bold mb-2">{{ produit.designation }}</h3>
                        <p class="text-lg font-semibold text-gray-800">{{ produit.prix }} $</p>
                        <p class="text-lg font-semibold text-gray-800">{{ produit.qte }} En stock</p>
                        {% if produit.disponible %}
                        <p class="text-green-600 font-semibold">Disponible</p>
                        {% else %}
                        <p class="text-red-600 font-semibold">Indisponible</p>
                        {% endif %}
                        <div class="mt-4">
                            {% if produit.disponible %}
                            <a class="inline-block bg-red-500 text-white text-center py-2 px-4 rounded hover:bg-red-600 transition duration-200" href="{% url 'detail' produit.slug %}"><i class="fa-solid fa-arrow-right"></i> Voir plus</a>
                            {% else %}
                            <button disabled class="inline-block bg-red-500 text-white text-center py-2 px-4 rounded cursor-not-allowed opacity-50">Voir plus</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>

    <script>
        document.getElementById('menu-button').addEventListener('click', function() {
            var menu = document.getElementById('mobile-menu');
            menu.classList.toggle('hidden');
        });
    </script>

<footer class="p-10 roboto-slab bg-gray-100 text-dark">
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
        <div>
            <h3 class="mb-4 font-bold uppercase">Infos Pratiques</h3>
    
            <ul>
                <li><a href="#" class="hover:text-gray-200">Points Fidélité</a></li>
                <li><a href="#" class="hover:text-gray-200">Guide d'Entretien</a></li>
                <li><a href="#" class="hover:text-gray-200">Guide des Tailles</a></li>
                <li><a href="#" class="hover:text-gray-200">Mentions Légales</a></li>
            </ul>
        </div>
        <div>
            <h3 class="mb-4 font-bold uppercase">À Propos</h3>
            <ul>
                <li><a href="#" class="hover:text-gray-200">SAV</a></li>
                <li><a href="#" class="hover:text-gray-200">Service Clients</a></li>
                <li><a href="#" class="hover:text-gray-200">Livraisons et Retours</a></li>
                <li><a href="#" class="hover:text-gray-200">FAQ Service Après Vente</a></li>
                <li><a href="" class="hover:text-gray-200">Info du dev</a></li>
            </ul>
        </div>
        <div>
            <h3 class="mb-4 font-bold uppercase">Newsletter</h3>
            <p class="mb-2">Découvrez en Avant Première Nos Tendances !</p>
            <form action="#">
                <input type="email" class="p-2 w-full text-black" placeholder="Saisissez votre e-mail">
                <button type="submit" class="mt-2 p-2 w-full bg-black text-white">Transmettre</button>
            </form>
        </div>
    </div>
    <div class="max-w-6xl mx-auto mt-10 flex flex-col md:flex-row justify-between items-center text-center md:text-left">
        <div class="mb-4 md:mb-0">
            <p>Avis de la boutique <span class="font-bold">4.7/5</span></p>
            <a href="#" class="text-yellow-400 hover:text-yellow-500">Voir les avis</a>
        </div>
        <div class="flex space-x-4">
            <a href="#" class="hover:text-gray-200"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#" class="hover:text-gray-200"><i class="fab fa-pinterest"></i> Pinterest</a>
            <a href="#" class="hover:text-gray-200"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#" class="hover:text-gray-200"><i class="fab fa-youtube"></i> YouTube</a>
            
        </div>
    </div>
    <a href=""><img src="" alt="" width="150px"></a>
</footer>
</body>
</html>
