{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enregistrer une Vente</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% tailwind_css %}
</head>
<body class="bg-gray-100">
    <header class="bg-gray-200 text-red-400 px-2 p-4 w-full sticky top-0">
        <nav class="flex justify-between">
            <div class="brand font-semibold text-2xl"><a href="{% url 'index' %}">Philia <span class="text-white bg-red-500 rounded p-2">shop</span></a></div>
            <ul class="space-x-3 font-thin text-xl">
                <a class="hover:bg-red-500 hover:py-2 hover:rounded hover:text-white hover:px-2" href="{% url 'index' %}">Acceuil</a>
                <a class="hover:bg-red-500 hover:py-2 hover:rounded hover:text-white hover:px-2" href="{% url 'catalogue' %}">Catalogue</a>
            
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">{{ user.username }}</a>
                {% else %}
                <a class="hover:bg-red-500 hover:py-2 hover:rounded hover:text-white hover:px-2" href="{% url 'login' %}">Users</a>
                {% endif %}
            </ul>
          
        </nav>
    </header>

    <main class="mt-8 w-3/4 mx-auto">
        <h2 class="font-bold text-2xl mb-4">Enregistrer une Vente pour {{ produit.designation }}</h2>
        {% if messages %}
        {% for message in messages %}
        <div class="message bg-green-800 text-white p-4 {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="quantite" class="block text-gray-700 text-sm font-bold mb-2">Quantité :</label>
                <input type="number" name="quantite" min="1" value="1" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="type_vente" class="block text-gray-700 text-sm font-bold mb-2">Type de Vente :</label>
                <select name="type_vente" required class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    <option value="en boutique">En Boutique</option>
                    <option value="en ligne">En Ligne</option>
                </select>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Enregistrer la Vente
                </button>
            </div>
        </form>
    </main>

    <footer class="p-10 roboto-slab bg-gray-100 text-dark">
        <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
            <div>
                <h3 class="mb-4 font-bold uppercase">Infos Pratiques</h3>
        
                <ul>
                    <li><a href="{% url 'regle' %}" class="hover:text-gray-200">Règles des confidentialités</a></li>
                    <li><a href="#" class="hover:text-gray-200">Guide d'Entretien</a></li>
                    <li><a href="#" class="hover:text-gray-200">Guide des Tailles</a></li>
                    <li><a href="#" class="hover:text-gray-200">Mentions Légales</a></li>
                </ul>
            </div>
            <div>
                <h3 class="mb-4 font-bold uppercase">À Propos</h3>
                <ul>
                    <li><a href="#" class="hover:text-gray-200">SAV</a></li>
                    <li><a href="#" class="hover:text-gray-200">Service Clients</a></li>
                    <li><a href="#" class="hover:text-gray-200">Livraisons et Retours</a></li>
                    <li><a href="#" class="hover:text-gray-200">FAQ Service Après Vente</a></li>
                    <li><a href="" class="hover:text-gray-200">Info du dev</a></li>
                </ul>
            </div>
            <div>
                <h3 class="mb-4 font-bold uppercase">Newsletter</h3>
                <p class="mb-2">Découvrez en Avant Première Nos Tendances !</p>
                <form action="#">
                    <input type="email" class="p-2 w-full text-black" placeholder="Saisissez votre e-mail">
                    <button type="submit" class="mt-2 p-2 w-full bg-black text-white">Transmettre</button>
                </form>
            </div>
        </div>
        <div class="max-w-6xl mx-auto mt-10 flex flex-col md:flex-row justify-between items-center text-center md:text-left">
            <div class="mb-4 md:mb-0">
                <p>Avis de la boutique <span class="font-bold">4.7/5</span></p>
                <a href="#" class="text-yellow-400 hover:text-yellow-500">Voir les avis</a>
            </div>
            <div class="flex space-x-4">
                <a href="#" class="hover:text-gray-200"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="#" class="hover:text-gray-200"><i class="fab fa-pinterest"></i> Pinterest</a>
                <a href="#" class="hover:text-gray-200"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#" class="hover:text-gray-200"><i class="fab fa-youtube"></i> YouTube</a>
                
            </div>
        </div>
        <a href=""><img src="" alt="" width="150px"></a>
    </footer>
</body>
</html>
