<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Facture de Vente</title>
    {% tailwind_css %}
</head>
<body>
    <div class="container mx-auto p-6 bg-white shadow-md rounded-lg">
        <h1 class="text-2xl font-bold mb-4">Facture de Vente</h1>
        <p>Numéro de vente : {{ vente.numero_vente }}</p>
        <p>Date de vente : {{ vente.date_vente|date:"d/m/Y H:i" }}</p>
        <p>Nom du client : {{ vente.nom_client }}</p>

        <h2 class="text-xl font-bold mt-6">Détails des produits</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2">Produit</th>
                    <th class="py-2">Quantité</th>
                    <th class="py-2">Prix Unitaire</th>
                    <th class="py-2">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detail in vente.details.all %}
                    <tr>
                        <td class="border px-4 py-2">{{ detail.produit.designation }}</td>
                        <td class="border px-4 py-2">{{ detail.quantite }}</td>
                        <td class="border px-4 py-2">{{ detail.prix_unitaire }} $</td>
                        <td class="border px-4 py-2">{{ detail.total }} $</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="mt-4 font-bold">Total de la vente : {{ vente.total }} $</p>

        <button onclick="window.print()" class="mt-6 bg-blue-500 text-white py-2 px-4 rounded">Imprimer la facture</button>
    </div>
</body>
</html>
